@charset "utf-8";



.slider-block {
    margin-top: 45px
}

.img-sliders {
    width: 100%;
    height: 100%;
}

.img-sliders img {

    width: 75%  ;
}

/* .swiper {
    width: 100%;
} */

.swiper-slide {
    width: 80%;
}

.swiper {
    height: 100%;
}

.prod {
    width: 100%;
    height: 100%;
    background-position-x: center;
    background-position-y: center;
    border-radius: 15px;
    background-size: cover;
    background-repeat: no-repeat;
}

.products-btns {
    margin-top: 20px;
}

.button-next, .button-back {
    width: 70px;
    height: 70px;
    margin-left: auto;
    margin-right: auto;
    border: 2px solid #fff;
    border-radius: 360rem;
    background-repeat: no-repeat;
    background-position-x: center;
    background-position-y: center;
}

.button-next:hover, .button-back:hover {
    background-image: none;
    background-color: #302e2e;
}

.progress-product, .progress-product span {
    font-family: 'Montserrat';
    font-style: normal;
    font-weight: 500;
    font-size: 50px;
    line-height: 61px;
    text-align: center;
    color: #fff;
}
.title {
    margin-top: 150px;
    font-family: 'Montserrat';
    font-style: normal;
    font-weight: 600;
    font-size: 55px;
    line-height: 67px;
    text-align: left;
    color: #FFFFFF;
}
.under-title {
    margin-top: 50px;
    font-family: 'Montserrat';
    font-style: normal;
    font-weight: 300;
    font-size: 25px;
    line-height: 30px;
    text-align: left;
    color: #FFFFFF;

}

.head-link {
    padding: 20px 10px;
    margin-top: 40px;
    margin-right: 40px;
    background: #D9D9D9;
    border-radius: 20px;
    border: 1px solid #1E1E1E;
}
.text-head-link {
    text-decoration: none;  
    color: #1E1E1E;
    font-family: 'Montserrat';
    font-style: normal;
    font-weight: 500;
    font-size: 17px;
    line-height: 24px;
    user-select: none;
}
.head-catalog {
    padding: 20px 10px;
    margin-top: 40px;
    margin-right: 40px;
    border-radius: 20px;
    border: 1px solid #FFFFFF;
}

.text-head-catalog {
    text-decoration: none;
    color: white;
    font-family: 'Montserrat';
    font-style: normal;
    font-weight: 500;
    font-size: 17px;
    line-height: 24px;
    user-select: none;
}

@media (max-width: 990px) {
    .title {
        font-size: 20px;
        line-height: 42px;
        margin-top: 50px;
    }
    .progress-product, .progress-product span{
        font-size: 4vw;
        color: #fff;
    }


}

@media (max-width: 576px) {
    .container-main {
        margin-right: 4vw;
        margin-left: 4vw;
    }
    .title {
        font-size: 30px;
        margin-top: 15px;
        line-height: 29px;
    } 
    .under-title {
        font-size: 20px;
    }  
    .link-head {
        justify-content: center;
    }
    .slider-block {
        margin-top: 90px;
        width: 100%;
    }
    .progress-product {
        font-size: 10vw;
    }
    .btn-back, .btn-next {
        width: 100%;
    }
}
