@charset "utf-8";



.slider-block {
    margin-top: 45px
}

/* .img-sliders {
    
} */

.img-sliders img {

    width: 75%  ;
}

.products-btns {
    margin-top: 20px;
}

.products-btns button {
    background: 0;
    border: 2px solid #fff;
    border-radius: 360rem;
    padding-top: 23px;
    padding-bottom: 21px;
    padding-left: 29px;
    padding-right: 29px;
}

.products-btns button:hover {
    background: #302e2e;
}

.progress-product {
    font-family: 'Montserrat';
    font-style: normal;
    font-weight: 500;
    font-size: 50px;
    line-height: 61px;
    text-align: center;
    color: #fff;
}
.title {
    margin-top: 150px;
    font-family: 'Montserrat';
    font-style: normal;
    font-weight: 600;
    font-size: 55px;
    line-height: 67px;
    text-align: left;
    color: #FFFFFF;
}
.under-title {
    margin-top: 50px;
    font-family: 'Montserrat';
    font-style: normal;
    font-weight: 300;
    font-size: 25px;
    line-height: 30px;
    text-align: left;
    color: #FFFFFF;

}

.head-link {
    padding: 20px 10px;
    margin-top: 40px;
    margin-right: 40px;
    background: #D9D9D9;
    border-radius: 20px;
    border: 1px solid #1E1E1E;
}
.text-head-link {
    text-decoration: none;  
    color: #1E1E1E;
    font-family: 'Montserrat';
    font-style: normal;
    font-weight: 500;
    font-size: 17px;
    line-height: 24px;
    user-select: none;
}
.head-catalog {
    padding: 20px 10px;
    margin-top: 40px;
    margin-right: 40px;
    border-radius: 20px;
    border: 1px solid #FFFFFF;
}

.text-head-catalog {
    text-decoration: none;
    color: white;
    font-family: 'Montserrat';
    font-style: normal;
    font-weight: 500;
    font-size: 17px;
    line-height: 24px;
    user-select: none;
}

@media (max-width: 990px) {
    .title {
        font-size: 20px;
        line-height: 42px;
        margin-top: 50px;
    }
    .progress-product {
        font-size: 25px;
    }

}

@media (max-width: 576px) {
    .container-main {
        margin-right: 4vw;
        margin-left: 4vw;
    }
    .title {
        font-size: 30px;
        margin-top: 15px;
        line-height: 29px;
    } 
    .under-title {
        font-size: 20px;
    }  
    .link-head {
        justify-content: center;
    }
    .slider-block {
        margin-top: 90px;
        width: 100%;
    }
    .progress-product {
        font-size: 50px;
    }
    .btn-back {
        width: 100%;
    }
}
