@charset "utf-8";
@import url("fonts.css") all;

.title-block {
    text-align: center;
}

.title {
    font-family: 'Montserrat';
    font-style: normal;
    font-weight: 600;
    font-size: 41px;
    line-height: 50px;

    /* identical to box height */

    color: #FFFFFF;

}

.points {
    margin-top: 90px;
}

.point-title, .point-description {
    font-family: 'Montserrat';
    font-style: normal;
    font-weight: 600;
    font-size: 35px;
    line-height: 43px;

    color: #FFFFFF;
} 

.point-title {
    margin-bottom: 30px;
}

.point-description {
    font-weight: 300;
    font-size: 23px;
    line-height: 28px;

    margin-bottom: 70px;
}
