{% extends 'shop/base.html' %}
{% load static %}

{% block title %}Категории{% endblock title %}

{% block head %}
<link rel="stylesheet" href="{% static 'shop/css/categories.css' %}">
{% endblock head %}

{% block content %}
<div class="main-container">
    <div class="title-block">
        <h2 class="title">КАТЕГОРИИ</h2>
    </div>

    <div class="row categories justify-content-evenly">

        {% for category in categories %}
        <div style='margin-bottom: 7vw' class="col-lg-3 col-md-6 col-12 category">
            <div class="category-img" style="background-image: url('{{category.image.url}}');"></div>
            <div class="category-title">
                <h4 class="category-title">{{category.title}}</h4>
            </div>
            <div class="row justify-content-center">
                <div class="col-lg-12 col-md-7 col-6 category-btn">
                    <a href="{% url 'productspage' category.id%}">Перейти</a>
                </div>
            </div>
        </div>
        {% endfor %}
    </div>

{% endblock %}