{% extends 'shop/base.html' %}
{% load static %}

{% block head %}
    <link rel="stylesheet" href="{% static 'shop/css/index.css' %}">
{% endblock head %}

{% block content %}
    <main>
        <div class="container-main">
            <div class="row justify-content-center text-center">
                <div class="col-12 col-md-7">
                    <div>
                    <h1 class="title">ИЗГОТОВЛЕНИЕ СТОЛОВ, СТОЛЕШНИЦ И РАКОВИН<br> 
                        ИЗ МРАМОРА И КЕРАМОГРАНИТА</h1>
                    <h2 class="under-title">Наша продукция изготавливается на современном
                        европейском<br> оборудовании,
                        также на производстве внедрён многоступенчатый<br> контроль качества</h2>
                    </div>
                    <div class="row link-head">
                        <div class="col-4 col-md-3 head-link">
                            <a class="text-head-link" href="#">Заказать</a>
                        </div>
                        <div class="col-4 col-md-3 head-catalog">
                            <a class="text-head-catalog" href="{% url 'categoriespage' %}">Каталог</a>
                        </div>
                    </div>    

                </div>
                <div class="col-5 slider-block">
                    <div class="img-sliders">
                        <a href="#">
                            <img src="{% static 'shop/images/product_img.png' %}">
                        </a>
                    </div>
                    <div class="row align-items-center justify-content-center text-center products-btns">
                        <div class="col-3 col-md-2">
                            <button type="button">
                                <img class="btn-back" src="{% static 'shop/images/back.svg' %}">
                            </button>
                        </div>
                        <div class="col-5">
                            <span class="progress-product">1 / 15</span>
                        </div>
                        <div class="col-3 col-md-2">
                            <button type="button">
                                <img class="btn-back" src="{% static 'shop/images/next.svg' %}">
                            </button>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </main>
{% endblock content %}
        
