{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="{% static 'shop/css/singupuser.css' %}">
    <title>Регистрация</title>
</head>
<body>
    <div class="main-container">

        

        <form method="post">
            {% csrf_token %}
            <div class="menu">
                <div class="login-btn">
                    <a href="{% url 'loginuser' %}">Вход</a>
                </div>
                <div class="login-btn">
                    <a href="{% url 'singupuser' %}">Регистрация</a>
                </div>
                <div class="close-btn">
                    <a href="{% url 'indexpage' %}">
                        <img src="{% static 'shop/images/close-nav-bar.svg' %}" width="30" height="30">
                    </a>
                </div>
            </div>

            <!-- {% for field in form %}
                <div class='input-block'>
                    {{field}}
                    {{field.label_tag}}
                    
                    {% if field.errors %}
                        <div class="error">
                            {{field.errors}}
                        </div>
                    {% endif %}
                    
                </div>
            {% endfor %} -->
            
            <div class='input-block'>
                <input type="text" id="id_username" name="username" placeholder=" " maxlength="50" minlength="2" required>
                <label for="id_username">Введите логин:</label>
            </div>
            <div class='input-block'>
                <input type="tel" id="id_phonenumber" name="phonenumber" placeholder=" " required>
                <label for="id_phonenumber">Введите телефон:</label>
            </div>
            <div class='input-block'>
                <input type="email" id="id_email" name="email" placeholder=" " maxlength="100" minlength="2" required>
                <label for="id_email">Введите e-mail:</label>
            </div>
            <div class='input-block'>
                <input type="password" name="password1" placeholder=" " required="" id="id_password1">
                <label for="id_password1">Введите пароль:</label>
            </div>
            <div class='input-block'>
                <input type="password" name="password2" placeholder=" " required="" id="id_password2">
                <label for="id_password2">Повторите пароль:</label>
            </div>
                
            <button class="submit-btn" type="submit">Регистрация</button>
            
        </form>
    </div>
</body>
</html>